@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

body {
	background: linear-gradient(180deg, #030312 10%, #071226 40%, #0b1720 100%), center, no-repeat;
	color: whitesmoke;
	font-family:
		'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
		sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.glass {
	background: rgba(10, 13, 18, 0.6);
	backdrop-filter: blur(8px) saturate(1.1);
	border: 0.5px solid rgba(255, 255, 255, 0.04);
}
